# =============== DATABASE ===============
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123123123
DB_NAME=wbrost_go

# =============== SERVER ===============
SERVER_PORT=8080
JWT_SECRET=your-secret-key
ENVIRONMENT=development

# =============== WORKER ===============
WORKER_INTERVAL=60
WORKER_ARTICLES_INTERVAL=60

# =============== FRONTEND ===============
VITE_API_URL=http://localhost:8081/api
VITE_BASE_API_URL=http://localhost:8080
VITE_BASE_FRONTEND_PORT=3000
VITE_SERVER_PORT_DOCKER=8081
VITE_FRONTEND_PORT_DOCKER=3001

# =============== Вспомогательные таймауты и задержки ===============
VITE_REFRESH_INTERVAL=30000
VITE_AUTO_CLEAT_TIMEOUT=3000
VITE_DEFAULT_TIMEOUT=3000
VITE_DASHBOARD_AUTO_REFRESH=60000
VITE_DEFAULT_CURRENCY_TYPE="₽"